<div class="Dashboard">
  <div class='DashboardGridItem'>
    <h1>User Registrations</h1>
    <ul>
      <li>24 Hours: <%= @user_signups_1_day_count %></li>
      <li>1 week: <%= @user_signups_1_week_count %></li>
      <li>1 month: <%= @user_signups_1_week_count %></li>
      <li>Total Users: <%= @user_count %></li>
    </ul>
  </div>

  <div class='DashboardGridItem'>
    <h1>Checkins Created</h1>
    <ul>
      <li>24 Hours: <%= @checkins_created_1_day_count %></li>
      <li>1 week: <%= @checkins_created_1_week_count %></li>
      <li>1 month: <%= @checkins_created_1_week_count %></li>
      <li>Total Checkins: <%= @checkin_count %></li>
    </ul>
  </div>
</div>
